MYSQL_ROOT_PASSWORD=root
MYSQL_DATABASE=architecture
MYSQL_USER=architecture
MYSQL_PASSWORD=architecture

FRONTEND_DOMAIN=mavien.com.br
BACKEND_DOMAIN=api.mavien.com.br

LETSENCRYPT_EMAIL=contato@mavien.com.br